html{
    font-size: 62.5%;
}

.flex{
    display: flex;
}

.justifyContent{
    justify-content: center;
}

.alignItems{
    align-items: center;
}

.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

h1, p, li, pre, code, label{
    font-size: 5rem;
}

.slide div{
    width: 80%;
}

.slide div input{
    font-size: 10rem;
    width: 30%;
}



img{
    width: 20%;
    margin-left: 2rem;
}

div, html, body, h2, section, .code{
    margin: 0rem;
    padding: 0rem;
}

section{
    height: 100%;
}

body{
    height: 100vh;
}

h1{
    color: white;
}

section, div{
    padding-bottom: 0rem;
    margin-bottom: 0rem;
}

.presentation, li, #MVC{
width: 100%;
}

.code{
    padding: 2rem;
    align-items: flex-start;
    height: 100%;
}

button{
    margin: 0rem 2rem;
    text-transform: capitalize;
    color: white;
    background: none;
    padding: .5rem 1rem;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 3rem;
}

.buttons{
    background: black;
    width: 100%;
}

button:hover{
    cursor: pointer;
    background: rgb(230, 204, 204);
}

li{
    text-align: center;
    list-style-type: none;
}

.folders li{
    padding: 2rem;
}

.folders li:hover{
    cursor: pointer;
}

.folders{
    width: 35%;
    justify-content: space-around;
}

h2{
    font-size: 4.5rem;
}

.hidden{
    display: none;
}


i{
    padding: 3rem;
    font-size: 8rem;
    cursor: pointer;
}

i:hover{
    color: rgb(226, 188, 188);
}

.select{
    color:black;
    background: white;
}

.code{
    background: black;
}

article, .presentation{
    padding: 2rem 2rem 0rem 2rem;
}

i, #MVC h2, #MVC li, .folders li{
    color: white;
}

.slide{
    height: 90%;
    width: 100%;
}

.illya{
    width:25%;
    margin-bottom: 2rem;
}

#MVC{
    height: 100%;
    background: white;
}

#MVC h2, #MVC li{
    color: black;
}

article, section, .presentation{
width: 100%;
}
.code{
    width: 97.4%;
}

.folders, li, h2, article{
border-radius: 5px;
}



.folders, li, h2, img, audio{
    border-radius: 5px;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
     -ms-animation: fadein 1s; /* Internet Explorer */
      -o-animation: fadein 1s; /* Opera < 12.1 */
         animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


article h2{
    padding-bottom: 2rem;
}

section{
    margin-bottom: 4rem;
}